<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hkxj.platform.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="cn.hkxj.platform.pojo.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="course" jdbcType="INTEGER" property="course" />
    <result column="credit" jdbcType="INTEGER" property="credit" />
    <result column="type" jdbcType="TINYINT" property="type" typeHandler="cn.hkxj.platform.handler.CourseTypeHandler" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, name, credit, type, gmt_create
  </sql>
  <select id="ifExistCourse" resultType="boolean">
    select ifnull ((select count(1)  from course where uid=#{uid,jdbcType=VARCHAR}), 0)
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hkxj.platform.pojo.Course">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert ignore into course (uid, name, academy, credit,type,gmt_create)
    values (#{uid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{academy,jdbcType=INTEGER},  #{credit,jdbcType=INTEGER},
    #{type,jdbcType=TINYINT,typeHandler=cn.hkxj.platform.handler.CourseTypeHandler},
    #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.hkxj.platform.pojo.Course">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT,typeHandler=cn.hkxj.platform.handler.CourseTypeHandler},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="insertStudentAndCourse">
    insert into student_course (student_id, course_id) values(#{0}, #{1})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hkxj.platform.pojo.Course">
    update course
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT,typeHandler=cn.hkxj.platform.handler.CourseTypeHandler},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hkxj.platform.pojo.Course">
    update course
    set uid = #{uid,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    credit = #{credit,jdbcType=INTEGER},
    type = #{type,jdbcType=TINYINT,typeHandler=cn.hkxj.platform.handler.CourseTypeHandler},
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      name = #{name,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT,typeHandler=cn.hkxj.platform.handler.CourseTypeHandler},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCourseIdsByClassId" parameterType="Integer" resultType="Integer">
    select course_id from class_course where class_id = #{classId}
  </select>
  <select id="getAllCourses" parameterType="java.util.List" resultType="cn.hkxj.platform.pojo.Course">
    select
    <include refid="Base_Column_List"/>
    from course where id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id, jdbcType=INTEGER}
    </foreach>
  </select>
</mapper>