<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkxj.platform.mapper.CourseTimeTableMapper" >
  <resultMap id="BaseResultMap" type="cn.hkxj.platform.pojo.timetable.CourseTimeTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_id" property="course" jdbcType="INTEGER" typeHandler="cn.hkxj.platform.handler.CourseHandler" />
    <result column="year_" property="year" jdbcType="INTEGER" />
    <result column="term_" property="term" jdbcType="INTEGER" />
    <result column="start_" property="start" jdbcType="INTEGER" />
    <result column="end_" property="end" jdbcType="INTEGER" />
    <result column="week_" property="week" jdbcType="INTEGER" />
    <result column="order_" property="order" jdbcType="INTEGER" />
    <result column="distinct_" property="distinct" jdbcType="INTEGER" />
    <result column="room_id" property="room" jdbcType="INTEGER" typeHandler="cn.hkxj.platform.handler.RoomWarpperHandler" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.courseCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.CourseHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.CourseHandler} and #{criterion.secondValue,typeHandler=cn.hkxj.platform.handler.CourseHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=cn.hkxj.platform.handler.CourseHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.roomCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler} and #{criterion.secondValue,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.courseCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.CourseHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.CourseHandler} and #{criterion.secondValue,typeHandler=cn.hkxj.platform.handler.CourseHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=cn.hkxj.platform.handler.CourseHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.roomCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler} and #{criterion.secondValue,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, course_id, year_, term_, start_, end_, week_, order_, distinct_, room_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hkxj.platform.pojo.example.CourseTimeTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_time_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_time_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_time_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hkxj.platform.pojo.example.CourseTimeTableExample" >
    delete from course_time_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hkxj.platform.pojo.timetable.CourseTimeTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_time_table (course_id,
      year_, term_, start_, 
      end_, week_, order_, distinct_, 
      room_id
      )
    values (#{course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler}, 
      #{year,jdbcType=INTEGER}, #{term,jdbcType=INTEGER}, #{start,jdbcType=INTEGER}, 
      #{end,jdbcType=INTEGER}, #{week,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, #{distinct,jdbcType=INTEGER}, 
      #{room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hkxj.platform.pojo.timetable.CourseTimeTable" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_time_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="course != null" >
        course_id,
      </if>
      <if test="year != null" >
        year_,
      </if>
      <if test="term != null" >
        term_,
      </if>
      <if test="start != null" >
        start_,
      </if>
      <if test="end != null" >
        end_,
      </if>
      <if test="week != null" >
        week_,
      </if>
      <if test="order != null" >
        order_,
      </if>
      <if test="distinct != null" >
        distinct_,
      </if>
      <if test="room != null" >
        room_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="course != null" >
        #{course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        #{term,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        #{start,jdbcType=INTEGER},
      </if>
      <if test="end != null" >
        #{end,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="distinct != null" >
        #{distinct,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        #{room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hkxj.platform.pojo.example.CourseTimeTableExample" resultType="java.lang.Integer" >
    select count(*) from course_time_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course_time_table
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.course != null" >
        course_id = #{record.course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler},
      </if>
      <if test="record.year != null" >
        year_ = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.term != null" >
        term_ = #{record.term,jdbcType=INTEGER},
      </if>
      <if test="record.start != null" >
        start_ = #{record.start,jdbcType=INTEGER},
      </if>
      <if test="record.end != null" >
        end_ = #{record.end,jdbcType=INTEGER},
      </if>
      <if test="record.week != null" >
        week_ = #{record.week,jdbcType=INTEGER},
      </if>
      <if test="record.order != null" >
        order_ = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.distinct != null" >
        distinct_ = #{record.distinct,jdbcType=INTEGER},
      </if>
      <if test="record.room != null" >
        room_id = #{record.room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course_time_table
    set id = #{record.id,jdbcType=INTEGER},
      course_id = #{record.course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler},
      year_ = #{record.year,jdbcType=INTEGER},
      term_ = #{record.term,jdbcType=INTEGER},
      start_ = #{record.start,jdbcType=INTEGER},
      end_ = #{record.end,jdbcType=INTEGER},
      week_ = #{record.week,jdbcType=INTEGER},
      order_ = #{record.order,jdbcType=INTEGER},
      distinct_ = #{record.distinct,jdbcType=INTEGER},
      room_id = #{record.room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hkxj.platform.pojo.timetable.CourseTimeTable" >
    update course_time_table
    <set >
      <if test="course != null" >
        course_id = #{course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler},
      </if>
      <if test="year != null" >
        year_ = #{year,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        term_ = #{term,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        start_ = #{start,jdbcType=INTEGER},
      </if>
      <if test="end != null" >
        end_ = #{end,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week_ = #{week,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        order_ = #{order,jdbcType=INTEGER},
      </if>
      <if test="distinct != null" >
        distinct_ = #{distinct,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        room_id = #{room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hkxj.platform.pojo.timetable.CourseTimeTable" >
    update course_time_table
    set course_id = #{course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler},
      year_ = #{year,jdbcType=INTEGER},
      term_ = #{term,jdbcType=INTEGER},
      start_ = #{start,jdbcType=INTEGER},
      end_ = #{end,jdbcType=INTEGER},
      week_ = #{week,jdbcType=INTEGER},
      order_ = #{order,jdbcType=INTEGER},
      distinct_ = #{distinct,jdbcType=INTEGER},
      room_id = #{room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="isCourseTimeTableExist" parameterType="cn.hkxj.platform.pojo.timetable.CourseTimeTable" resultType="java.lang.Integer">
    select id from course_time_table
    where course_id = #{course,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.CourseHandler} and
      year_ = #{year,jdbcType=INTEGER} and
      term_ = #{term,jdbcType=INTEGER} and
      start_ = #{start,jdbcType=INTEGER} and
      end_ = #{end,jdbcType=INTEGER} and
      week_ = #{week,jdbcType=INTEGER} and
      order_ = #{order,jdbcType=INTEGER} and
      distinct_ = #{distinct,jdbcType=INTEGER} and
      room_id = #{room,jdbcType=INTEGER,typeHandler=cn.hkxj.platform.handler.RoomWarpperHandler}
  </select>
</mapper>