<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkxj.platform.mapper.GradeVOMapper" >
    <resultMap id="BaseResultMap" type="cn.hkxj.platform.pojo.vo.GradeVO" >
        <result column="courseName" property="courseName"/>
        <association property="grade" javaType="cn.hkxj.platform.pojo.Grade">
            <result column="term"  property="term"/>
            <result column="score"  property="score"/>
            <result column="point"  property="point"/>
            <result column="year"  property="year"/>
        </association>
        <association property="student" javaType="cn.hkxj.platform.pojo.Student">
        <result column="account"  property="account"/>
        <result column="name"  property="name"/>
        </association>
    </resultMap>

    <select id="findGradeByUser" resultMap="BaseResultMap" parameterType="map">
        SELECT
        YEAR,
        term,
        score,
        point,
        c.name courseName,
        s.name
        FROM grade g
        LEFT JOIN course c ON c.uid = g.course_id
        LEFT JOIN student s ON g.account = s.account
        WHERE s.account = #{account} AND s.password = #{password}
    </select>
</mapper>