<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkxj.platform.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="cn.hkxj.platform.pojo.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_correct" property="correct"/>
    </resultMap>

    <!--<parameterMap id="BaseParameterMap" type="cn.hkxj.platform.pojo.Student">-->
        <!--<parameter property="correct" -->
    <!--</parameterMap>-->

    <!--<parameterMap id="BaseParameterMap" type="cn.hkxj.platform.pojo.Student">-->
        <!--<parameter property="id"/>-->
    <!--</parameterMap>-->

    <sql id="selectFields">
        id as id ,
        account as account ,
        password as password ,
        name as name ,
        sex as sex ,
        ethnic as ethnic ,
        academy as academy,
        major as major,
        classname as classname,
        is_correct as correct,
        gmt_create as gmtCreate,
        gmt_modified as gmtModified
    </sql>

    <sql id="key">
        <trim suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="account!=null">
                account,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="name!=null">
                name,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            <if test="ethnic!=null">
                ethnic,
            </if>
            <if test="academy!=null">
                academy,
            </if>
            <if test="major!=null">
                major,
            </if>
            <if test="classname!=null">
                classname,
            </if>
            <if test="correct!=null">
                is_correct,
            </if>
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="account!=null">
                #{account},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="ethnic!=null">
                #{ethnic},
            </if>
            <if test="academy!=null">
                #{academy},
            </if>
            <if test="major!=null">
                #{major},
            </if>
            <if test="classname!=null">
                #{classname},
            </if>
            <if test="correct!=null">
                #{correct},
            </if>
        </trim>
    </sql>

    <select id="selectByAccount" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
          <include refid="selectFields"/>
        FROM
          student
        WHERE
          account = #{account}
    </select>

    <insert id="insertByStudent" parameterType="cn.hkxj.platform.pojo.Student">
        INSERT INTO
          student (<include refid="key"/>)
        VALUES
          (<include refid="value"/>)
    </insert>

    <update id="updateByStudent" parameterType="cn.hkxj.platform.pojo.Student">
      UPDATE
        student
        <trim  prefix="set" suffixOverrides=",">
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="ethnic!=null">
                ehnic = #{ethnic},
            </if>
            <if test="academy!=null">
                academy = #{academy},
            </if>
            <if test="major!=null">
                major = #{major},
            </if>
            <if test="classname!=null">
                classname = #{classname},
            </if>
            <if test="correct!=null">
                is_correct = #{correct},
            </if>
        </trim>
      where
        account = #{account}
    </update>
    <select id="getStudentsByClassnames" parameterType="java.util.List" resultType="cn.hkxj.platform.pojo.Student">
        select account, classname from student
        where classname IN
        <foreach collection="classnames" item="classname" open="(" close=")" separator=",">
            #{classname}
        </foreach>
        order by classname
    </select>
</mapper>