<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hkxj.platform.mapper.WechatOpenIdMapper">

    <select id="getStudentByOpenId" parameterType="java.lang.String" resultType="cn.hkxj.platform.pojo.Wechatuser">
        SELECT  account,academy,classname,passwd FROM student WHERE account =(SELECT account FROM openid WHERE openId = #{openId} )
    </select>


</mapper>